{% load menu %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <div class="logo">
                    <h2><a href="{% url 'home' %}">UzCodersForum</a></h2>
                </div>
            </div>
            <div class="col-md-10">

                {% show_menu %}
                <!--<div class="menu">-->
                <!--<ul>-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#">IT yangiliklar</a></li>-->
                <!--<li><a href="#">Dasturlash</a></li>-->
                <!--<li><a href="#">Blog</a></li>-->
                <!--<li><a href="#">Sign in</a></li>-->
                <!--<li><a href="#">Sign up</a></li>-->
                <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</header>




